.login-box {
position: absolute;
width: 30%;
min-width: 320px;
max-width: 500px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-bottom: 30px;
background: white;
box-shadow: 0 1px 0 rgba(0,0,0,.25);
z-index: 10;
top:25%;
}

.login-header {
    background: #c0e07b;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

form {
  padding: 20px;
}

.submit-btn {
  margin-top: 10px;
  background: #000;
  color: #fff;
  padding: 12px 40px;
}
.linknav {
  color: #fff;
}
.loginLink {
  cursor: pointer;
  color: #000;
}
