<nav class="main-nav clear">
  <ul>
    <li><a class="loginLink" (click)="goToLogin()">Log In</a></li>
    <li><a class="linknav" href="{{signupUrl}}">Sign Up</a></li>
  </ul>
  <div class="clear"></div>
</nav>

<div class="signup-box">
  <div class="signup-header">
      <div>Sign Up</div>
  </div>
  <form #userLoginForm="ngForm" id="signupForm">
      <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" required id="username" [(ngModel)]="model.username"  minlength="5"  #username="ngModel">
          <small [hidden]="username.valid ||(username.pristine)"  class="text-danger">
               Username is required (minimum 5 characters)
          </small>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" id="password" required minlength="6"  validateEqual="cnfpassword" [(ngModel)]="model.password"   #password="ngModel">
          <small [hidden]="password.valid ||(password.pristine)"  class="text-danger">
              Password is required (minimum 6 characters)
          </small>
      </div>
      <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" name="cnfpasswrod" id="cnfpasswrod" required minlength="6" validateEqual="password" reverse="false" [(ngModel)]="model.cnfpasswrod"  #cnfpasswrod="ngModel">
          <small [hidden]="cnfpasswrod.valid ||(cnfpasswrod.pristine)"  class="text-danger">
              Password is mismatch
          </small>
        <!--  <div *ngIf="cnfpasswrod.errors && (cnfpasswrod.dirty || cnfpasswrod.touched)" class="alert alert-danger">
              <div [hidden]="!cnfpasswrod.errors.required">
                 password is required
              </div>

              <div [hidden]="!cnfpasswrod.errors.minlength">
                 password must be atleast 6 characters
              </div>

            </div>
 -->

      </div>
      <div class="form-group">
          <div id="login_error"></div>
          <div class="alert alert-success" id="signup_success" *ngIf="signupService.signups">
            <strong>Thanks for registration, Please <a class="loginLink" (click)="goToLogin()">Click here to Login</a></strong>
          </div>
          <div class="alert alert-warning"  *ngIf="signupService.signupError">
            <strong>{{signupService.signupErrorMsg}}</strong>
          </div>
      </div>
      <div>
        <button class="submit-btn btn" [disabled]="!userLoginForm.form.valid" type="button" (click)="signupService.signupData(model.username,model.password)">Sign Up</button>
      </div>

  </form>
</div>
